*.svn
*.a
fluorender/FluoRender/FluoRender.opensdf
fluorender/FluoRender/FluoRender.sdf
fluorender/FluoRender/FluoRender.vcxproj.user
fluorender/FluoRender/ipch/
fluorender/FluoRender/x64
fluorender/wxWidgets/
fluorender/FluoRender/FluoRender.suo
.DS_Store
*.cmake
Makefile
CMakeCache.txt
CMakeFiles
*.swp
*user
*.vcxproj
*.filters
*.sdf
*.sln
*.opensdf
Win32
*.dir
