<!DOCTYPE html>
<html>
<head>
    <style>
        svg {
            display: block;
            margin: 0 auto;
        }

        .axis .domain {
            display: none;
        }

        .axis--x text {
            font-size: 15px;
            fill: #000;
        }

        .axis--x line {
            stroke: #000;
        }

        .axis--id .tick line {
            display: none;
        }

        .axis--id text {
            font-size: 15px;
            fill: #000;
        }

        .axis--id .tick:nth-child(odd) text {
            fill: #777;
        }

        .line {
            fill: none;
            stroke: #000;
        }

        .area {
            fill: #eee;
        }

        .id:nth-child(odd) .area {
            fill: #ddd;
        }
    </style>
</head>
<body>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
//#begin data
let csv_data = "id,time,bkg_median,comp_mean,comp_min\n\
ID-70,0,228,333.674,283\n\
ID-30,0,228,506.694,369\n\
ID-60,0,228,393.615,284\n\
ID-20,0,228,379.76,305\n\
ID-50,0,228,299.506,253\n\
ID-10,0,228,430.672,355\n\
ID-40,0,228,360.94,287\n\
ID-70,1,228,327,284\n\
ID-30,1,228,500.003,377\n\
ID-60,1,228,388.939,271\n\
ID-20,1,228,377.45,293\n\
ID-50,1,228,299.117,256\n\
ID-10,1,228,429.82,341\n\
ID-40,1,228,359.031,292\n\
ID-70,2,228,321.961,281\n\
ID-30,2,228,492.43,375\n\
ID-60,2,228,386.149,272\n\
ID-20,2,228,373.747,296\n\
ID-50,2,228,297.202,250\n\
ID-10,2,228,428.704,352\n\
ID-40,2,228,359.013,282\n\
ID-70,3,228,318.889,280\n\
ID-30,3,228,488.522,355\n\
ID-60,3,228,384.644,282\n\
ID-20,3,228,372.01,293\n\
ID-50,3,228,297.395,249\n\
ID-10,3,228,426.958,350\n\
ID-40,3,228,359.23,285\n\
ID-70,4,228,317.336,271\n\
ID-30,4,228,488.754,354\n\
ID-60,4,228,382.246,276\n\
ID-20,4,228,372.225,299\n\
ID-50,4,228,297.11,252\n\
ID-10,4,228,426.22,360\n\
ID-40,4,228,357.585,286\n\
ID-70,5,228,316.561,277\n\
ID-30,5,228,483.2,356\n\
ID-60,5,228,381.999,270\n\
ID-20,5,228,370.058,289\n\
ID-50,5,228,295.696,252\n\
ID-10,5,228,422.342,358\n\
ID-40,5,228,356.201,286\n\
";
//#end data

function row(d) {
    return {
        id: d.id,
        time: +d.time,
//#begin value name
        value: +d.comp_mean,
//#end value name
        value2: +d.bkg_median
    };
}

var dataFlat = d3.csvParse(csv_data, row);

// Sort by time
dataFlat.sort(function (a, b) { return a.time - b.time; });

var data = d3.nest()
    .key(function (d) { return d.id; })
    .entries(dataFlat);

var gw = 1000,
	gh = 800;
var sclf = 0.5;
var roffx = 0.2;
var roffy = 0.67;
var magaxx = 5;
var magaxy = 25;
var opac = 0.6;
var line_type =
	d3.curveMonotoneX;
	//d3.curveLinear;
var margin = { top: 10, right: 10, bottom: 50, left: 120 },
    width = gw - margin.left - margin.right,
    height = gh - margin.top - margin.bottom;
var num = data.length;
var x = function (d) { return d.time; };
var y = function (d) { return d.value; };
var y2 = function (d) { return d.value2; };
var extx = d3.extent(dataFlat, x);
var maxbkg = d3.max(dataFlat, y2);


data.map(function (d) {
    d.values.map(function (d) {
        d.value = (d.value - maxbkg) / maxbkg;
    })
    return d;
})
var exty = d3.extent(dataFlat, y);
var exty2 = exty[1] - exty[0];
var offsetx = width * roffx / num;
var offsety = height * roffy / num;
var scaley = height * roffy * sclf / exty2;
data.map(function (d) {
    d.values.map(function (d) {
        d.value -= exty[0];
    })
    return d;
})

// Sort by peak
function peakTime(d) {
    var i = d3.scan(d.values, function (a, b) { return y(b) - y(a); });
    return d.values[i].value;
};
data.sort(function (a, b) { return peakTime(b) - peakTime(a); });

var xScale = d3.scaleLinear().domain(extx).range([0, width]),
    xValue = function(d) { return xScale(x(d)); },
    xAxis = d3.axisBottom(xScale).tickFormat(d3.format("d"));

var areaChartHeight = exty2 * scaley;
var yScale = d3.scaleLinear(),
    yValue = function(d) {
    	 return yScale(y(d));
    };
yScale
    .domain([0, exty2])
    .range([areaChartHeight, 0]);
var area = d3.area()
	.curve(line_type)
    .x(xValue)
    .y0(height - magaxx)
    .y1(yValue);

var line = area.lineY1();

var id = function(d) { return d.key; },
    idScale = d3.scaleBand().range([0, height - magaxx * 2]),
    idAxis = d3.axisLeft(idScale);

idScale.domain(data.map(function(d) { return d.key; }));

// Percent two area charts can overlap
var svg = d3.select('body').append('svg')
    .attr('width', width + margin.left + margin.right + num * offsetx)
    .attr('height', height + margin.top + margin.bottom)
    .append('g')
    .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

svg.append('clipPath')
	.attr('id', 'rect_clip')
	.append('rect')
	.attr('x', 0)
	.attr('y', 0)
	.attr('height', height - magaxx * 2)
	.attr('width', width + margin.left + margin.right + num * offsetx);
let count = 0;
var gChart = svg.append('g').attr('class', 'ids')
	.attr('clip-path', 'url(#rect_clip)')
    .selectAll('.id').data(data)
    .enter().append('g')
    .attr('class', function(d) { return 'id id--' + d.key; })
    .attr('transform', function (d) {
        var tx = offsetx * (num - count - 1),
        	ty = height * roffy - magaxx - offsety * (num - count);
        count++;
        return 'translate(' + tx + ',' + ty + ')';
    });

gChart.append('path').attr('class', 'area')
    .datum(function (d) { return d.values; })
    .attr('d', area)
    .attr('opacity', opac);

gChart.append('path').attr('class', 'line')
    .datum(function(d) { return d.values; })
    .attr('d', line);

count = 0;
svg.append('g').attr('class', 'axis axis--id')
    .call(idAxis)
    .selectAll("text")
    .attr('transform', function (d) {
        var tx = offsetx * (num - count - 1) - magaxy,
        	ty = 0;
        count++;
        return 'translate(' + tx + ',' + ty + ')';
    });

svg.append('g').attr('class', 'axis axis--x')
    .attr('transform', 'translate(0,' + height + ')')
    .call(xAxis);

    </script>
</body>
</html>
